header {
  box-shadow: 0px 4px 20px rgb(0 0 0 / 5%);
}

.nav__logo {
  width: 70px;
  height: 92px;

  @media screen and (max-width: 479.98px) {
    width: 30px;
    height: 40px;
  }

  @media screen and (max-width: 1023.98px) {
    margin-left: 50px;
  }
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.nav__item {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;

  color: #e75624;

  @media screen and (max-width: 1023.98px) {
    font-size: 20px;
    line-height: 1.25;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  @media screen and (min-width: 1024px) {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}

.nav__item:hover,
.nav__item:focus {
  transition: color $transition-duration $timing-function;
  color: #a8360ff0;
}

.nav__list {
  display: flex;

  @media screen and (max-width: 479.98px) {
    margin-left: 45px;
    margin-right: 41px;
    padding: 0px;
  }

  @media screen and (max-width: 1023.98px) {
    flex-direction: column;
  }

  @media screen and (min-width: 1024px) {
    padding: 0;
    align-items: center;
    width: 100%;
  }
}

.nav__item--secondary-menu:hover,
.nav__item--secondary-menu:focus {
  @media screen and (min-width: 1024px) {
    padding: 36px 0 36px;
  }
}

.nav__item--secondary-menu:hover .nav__list--activites,
.nav__item--secondary-menu:focus .nav__list--activites {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1024px) {
    align-items: center;
    position: absolute;
    top: 92px;
    background-color: #ffffff;
    color: #e75624;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 10%);
    border-radius: 10px;

    left: 213px;
    width: 220px;

    font-size: 16px;
    line-height: 1.25;
  }

  @media screen and (min-width: 1280px) {
    left: 341px;
  }

  @media screen and (min-width: 1440px) {
    left: 543px;
  }
}

.nav__item--secondary-menu:hover .nav__item__link,
.nav__item--secondary-menu:focus .nav__item__link {
  @media screen and (max-width: 1023.98px) {
    display: inline-block;
    margin-bottom: 15px;
  }
}

.nav__list--activites {
  font-family: 'Readex Pro';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  cursor: pointer;
  color: #252525;
  display: none;
}

.nav__list--item-activites:hover,
.nav__list--item-activites:focus {
  transition-property: background-color;
  transition-duration: $transition-duration;
  transition-timing-function: $timing-function;

  text-decoration: underline;

  @media screen and (min-width: 1024px) {
    text-decoration: none;
    background-color: #f7cf0d;
    font-weight: 700;
  }
}

.nav__list--item-activites:last-child:hover,
.nav__list--item-activites:last-child:focus {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nav__list--item-activites:first-child:hover,
.nav__list--item-activites:first-child:focus {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.nav__list--item-activites {
  float: left;
  clear: left;

  @media screen and (max-width: 1023.98px) {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  @media screen and (min-width: 1024px) {
    width: 100%;
    text-align: center;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}

.nav__list--item-activites:not(:last-child) .nav__list--item-link::before {
  @media screen and (min-width: 1024px) {
    content: '';
    position: absolute;
    left: 40px;
    height: 1px;
    bottom: -1px;
    width: 140px;
    background-color: #e75624;
  }
}

.nav__phone,
.mobile-container__phone {
  font-family: 'Readex Pro';
  font-weight: 700;

  color: #ffffff;
  background: #e75624;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e75624;
  border-radius: 100px;
}

.nav__phone:hover,
.mobile-container__phone:hover,
.nav__phone:focus,
.mobile-container__phone:focus {
  transform: scale(1.1);
}

.nav__phone {
  width: 171px;
  height: 46px;
  font-size: 16px;
  line-height: 1.22;
  margin-left: auto;

  @media screen and (max-width: 479.98px) {
    width: 154.41px;
    height: 42px;
    font-size: 18px;

    border-radius: 100px 0px 0px 100px;
  }

  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.mobile-container__phone::before,
.nav__phone::before {
  content: '';
  background-image: url(../images/phone.svg);
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 7px;
  display: inline-block;
}

.mobile-container__phone {
  width: 227px;
  height: 58px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.25;

  @media screen and (min-width: 1024px) {
    width: 171px;
    height: 46px;
    margin-left: auto;
    font-size: 16px;
    line-height: 1.22;
  }
}

.container--padding-cancel {
  @media screen and (max-width: 767.98px) {
    padding-right: 0px;
    padding-left: 0px;
  }

  @media screen and (max-width: 479.98px) {
    padding-top: 8px;
    padding-bottom: 6px;
  }
}
