.menu-button {
  @media screen and (max-width: 479.98px) {
    top: 5px;
  }

  position: absolute;
  top: 30px;
  left: 5px;
  fill: #ff6800;

  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 5;
  cursor: pointer;

  & .icon-cross {
    display: none;
  }

  &.is-open .icon-cross {
    display: block;
  }

  &.is-open .icon-burger {
    display: none;
  }

  @media screen and (min-width: 1023.98px) {
    display: none;
  }
}

.menu-button__svg {
  transition: fill $transition-duration $timing-function;
}

.mobile-container {
  @media screen and (max-width: 1023.98px) {
    background-color: #fee8ce;
    display: none;
    position: fixed;
    top: 95px;
    left: 0;
    height: 100vh;
    width: 100%;

    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  }

  &.is-open {
    display: flex;
  }

  @media screen and (max-width: 479.98px) {
    top: 55px;
  }
}
