.testimonials {
  font-family: 'Poppins';
  margin-top: 30px;
  margin-bottom: 50px;
  max-width: 1216px;

  @media screen and (min-width: 1024px) {
    margin-top: 50px;
  }
}

.testimonials__main-header {
  font-weight: 600;
  font-size: 27px;
  line-height: 1.31;
  text-align: center;
  margin-bottom: 6px;

  @media screen and (min-width: 1024px) {
    font-size: 32px;
  }
}

.testimonials__secondary-header {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #999999;
  margin-bottom: 32px;

  @media screen and (min-width: 1024px) {
    font-size: 14px;
  }
}

.testimonials__item {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding: 17px;
  max-width: 384px;
  margin: auto;

  @media screen and (min-width: 414px) and (max-width: 467px) {
    padding: 6px;
  }

  @media screen and (min-width: 1024px) {
    padding: 40px;
  }

  &::before {
    content: '';
    position: absolute;
    background: linear-gradient(90deg, #ff6800, #ff1f00);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;

    padding: 2px;
    border-radius: 15px;
    inset: 0;
  }
}

.testimonials__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #808080;
  text-align: center;
  margin-bottom: 20px;

  @media screen and (min-width: 1024px) {
  }

  &--floyd-miles {
    @media screen and (min-width: 414px) and (max-width: 767px) {
      margin-bottom: -4px;
    }
  }

  &--robert-jonson {
    @media screen and (min-width: 414px) and (max-width: 420px) {
      margin-bottom: -2px;
    }
  }
}

.testimonials__name {
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  color: #333333;
  margin-bottom: 6px;

  @media screen and (min-width: 1024px) {
    margin-bottom: 10px;
  }
}

.testimonials__job-title {
  font-weight: 300;
  font-size: 10px;
  line-height: 1;
  color: #666666;
}

.testimonials__main-employee-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonials__secondary-employee-wrapper {
  margin-left: 12px;
}

.swiper {
  height: 222px;

  @media screen and(min-width: 467px) and(max-width: 767px) {
    height: 242px;
  }

  @media screen and(min-width:1024px) {
    height: 300px;
  }

  @media screen and(min-width:1280px) {
    height: 280px;
  }
}

.swiper-wrapper {
  height: auto;
}
